$body-bg: #F7F7F7;
$body-color: #000;
$app-min-width: 1024px;

$theme-colors: (
  "primary": #58437B,
  "danger": #ff4136
);

$colors: (
  white: #F00,
);
// Required parts of Bootstrap
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';